#TTGantt {
  font-family: "hiragino kaku gothic pro", meiryo;
  background-color: #fff;
  color: #333;
}

.month-year-area {
  font-size: 0; /* 改行がinline-blockのスキマになるため */
}

.month-year {
  font-size: 18px;
  display: inline-block;
  border-top: 1px solid rgba(51,51,51,0.5);
  border-left: 1px solid rgba(51,51,51,0.5);
}

.day-task-area {
  font-size: 0; /* 改行がinline-blockのスキマになるため */
  position: relative;
}

.day-area {
  font-size: 0; /* 改行がinline-blockのスキマになるため */
}

.day {
  font-size: 18px;
  display: inline-block;
  border-top: 1px solid rgba(51,51,51,0.5);
  border-left: 1px solid rgba(51,51,51,0.5);
}

.sunday-background {
  background: #faa;
}

.saturday-background {
  background: #aaf;
}

.task-area {
  position: absolute;
  border-top: 1px solid rgba(51,51,51,0.5);
  border-left: 1px solid rgba(51,51,51,0.5);
}

.bar {
  background-color: #2b8fef; 
  height: 10px;
  display: block;
  float: left;
  position: relative;
  border-radius: 4px;
  margin: 4px 3px 0 0;
  opacity: 0.7;
}

.bar-name {
  font-size: 18px;
  font-family: "hiragino kaku gothic pro", meiryo;
  color: #333;
}

.save-button {
  display: block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #333;
  border: solid 2px #333;
  border-radius: 3px;
  transition: .4s;
  font-family: "hiragino kaku gothic pro", meiryo;
}
